<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppMotoria.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AppMotoria.My.MySettings.DBAppConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DBApp.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AppMotoria.My.MySettings>
            <setting name="savedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="savedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="currentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="currentUserID" serializeAs="String">
                <value />
            </setting>
        </AppMotoria.My.MySettings>
    </userSettings>
</configuration>